/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: bold;
  font-weight: 700;
  src: url(../assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face{
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Oxygen/Oxygen-Regular.ttf);
}



