.logo{
	font-size: 2.75vw;
	font-family: "Ubuntu";

}

.logo-bold{
	font-style: bold;
	font-weight: 600;
}

.logo-medium{
	font-style: normal;
	font-weight: 500;
}

.logo-reg{
	font-style: normal;
	font-weight: 400;
}

