@import "colors";

.thumbBox{
	margin-bottom: 1px;
	height: calc(1em + 7px);
	font-family: "Oxygen";
}

.thumbBox.thumbTitle{
	font-family: "Ubuntu";
	font-weight: 500;
}

.thumb{
	width: 14vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
	display: inline-block;
	padding: 3px;
	border-right: 1px solid #fff;
	margin: 0px;
}

.thumb-title{
	width: 15vw;
}

.thumb-read{
	width: 15vw;
}

.thumb-quality{
	width: 15vw;
}

.thumb-source{
	width: 15vw;
}

.even{
	background-color: $light-blue;
	color: $dark-gray;
}

.odd{
	background-color: $mid-blue;
	color: $dark-gray;
}
